.btn_trash {
    box-shadow: none !important;
    background-color: transparent !important;
    color: rgb(67, 38, 110) !important;
    opacity: 0.5;
    transition: opacity .3s;
}
.btn_trash:hover {
    opacity: 1;
}