body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif, arial;
  color: #43266e;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; 
}
a {
  color: #43266e;
  outline: none;
  text-decoration: none; 
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
img {
  max-width: 100%; 
}
/*App*/
.app {
  display: flex;
  align-items: flex-start;
  padding: 3rem 0;
}
.app > * {
  margin-right: 2rem;
}
.app > *:last-child {
  margin-right: 0;
}
/*App*/
/*Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
/*Container*/
/*Field*/
.field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b291d9;
  font-size: 1rem;
  padding: 10px 0;
  color: #43266e;
}
.field:focus {
  outline: none;
}
.field::placeholder {
  color: #43266e;
  font-weight: 400;
}
/*Field*/
/*Btn*/
.btn {
  border: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.13);
  display: inline-block;
  cursor: pointer;
  display: flex;
}
.btn:focus {
  outline: none;
}
.btn__content {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.btn__content:before {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s !important;
  transition-timing-function:  cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  z-index: -1;
}
.btn__content:hover {
  opacity: 1 !important;
  color: white;
}
.btn__content:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}

.btn_purple {
  background-color: #6532ad;
}
.btn_purple .btn__content:before {
  background: #5c2492;
}
/*Btn*/
@media (max-width: 1200px) {
  /*Container*/
  .container {
    width: 970px;
  }
  /*Container*/
}
@media (max-width: 992px) {
  /*Container*/
  .container {
    width: 750px;
  }
  /*Container*/
}
@media (max-width: 768px) {
  /*Container*/
  .container {
    with: 100%;
  }
  /*Container*/
}